---
title: JaxFry
layout: home
subtitle: Wow, a website!
---

<div class="about">
    <h4 class="hidden"><i class="fa-solid fa-arrow-right"></i> About JaxFry</h4>
    <h3 class="hidden">Who Am I?</h3>
    
    <p class="hidden">
        I'm JaxFry, a coder with a basic understanding of some languages such as Python, Java, Javascript, and HTML/CSS. I'm also a student at a high school in Canada. I'm almost always working on a few projects but if you have any ideas, feel free to reach out to me! I'm not only interested in coding, but I also enjoy playing video games, watching anime, and many other things.
    </p>
</div>

<hr width="95%" style="margin-top: 60px; margin-bottom: 50px; border: 1px solid #fff; margin-left: auto; margin-right: auto;">

<section class="project-previews hidden">
    <div class="default-page">
        <h4 class="hidden"><i class="fa-solid fa-arrow-right"></i> Project Previews</h4>
        <h3 class="hidden" style="margin-bottom: 2rem;">What Have I Worked On?</h3>    
    </div>
    {% include project-cards.html max_projects=6 %}
    <a href="#">View the rest</a>
</section>

{% include footer.html %}