:root {
    --primary-color: #f89326;
    --secondary-color: rgba(65, 59, 59, 0.25);
    --font-family-logo: 'Bukhari', sans-serif;
    --font-family-body: "Montserrat", sans-serif;
    --cursor-size: 10px;
    --outline-size: 40px;
    --carousel-caption-color: #757575;
}

body {
    cursor: none;
    color: white;
    background-color: #1c1c1c;  
}

body::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.02;  
    z-index: 1000;
    pointer-events: none;
    background: url('../images/noise-250x.gif');
}

p {
    font-size: 1.25rem;
    font-weight: normal;
    font-family: var(--font-family-body);
}

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--cursor-size);
    height: var(--cursor-size);
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
}

.cursor-outline {
    position: fixed;
    height: var(--outline-size);
    width: var(--outline-size);
    border: 1px solid white;
    border-radius: 50%;
    top: calc(var(--outline-size) / 2 * -1);
    left: calc(var(--outline-size) / 2 * -1);
    pointer-events: none;
    z-index: 1000;
}

.expanded {
    width: var(--outline-size);
    height: var(--outline-size);
}

.transparent {
    opacity: 0;
}

.invert {
    mix-blend-mode: difference;
    color: white;
}

@keyframes grow {
    from {
        width: var(--cursor-size);
        height: var(--cursor-size);
        opacity: 1;
    } 
    to {
        width: var(--outline-size);
        height: var(--outline-size);
        opacity: 0.5;
    }
}

@keyframes shrink {
    from {
        width: var(--outline-size);
        height: var(--outline-size);
    }
    to {
        width: var(--cursor-size);
        height: var(--cursor-size);
    }
}

@font-face {
    font-family: 'Bukhari';
    src: url('../fonts/Bukhari.ttf') format('truetype');
}

/* Navigation Bar Styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    flex-direction: row-reverse;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(133, 133, 133, 0.75);
    position: fixed; /* Ensure it's positioned correctly */
    z-index: 1000; /* Higher z-index than .full-width-container */
    width: 100%;
}


.menu-icon {
    color: var(--primary-color);
    font-size: 1.75rem;
    padding-right: 25px;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-family-logo);
    color: var(--primary-color);
    text-decoration: none;
}

.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1c1c1c;
    width: 200px;
    border: 1px solid rgba(133, 133, 133, 0.75);
}

.menu-items a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu-items a:hover {
    background-color: var(--primary-color);
    color: #757575;
}

.menu-items.active {
    display: flex;
}
/* Carousel Styles */
.full-width-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 500; /* Ensure this is lower than .nav-bar's z-index */
}


.carousel, .carousel-inner, .carousel-item {
    height: 90vh;
    overflow: hidden;
    
}

.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}

.carousel-caption-1 {
    position: absolute;
    top: 75px;
    left: 50px;
    text-align: left;
}

.carousel-caption-2 {
    position: absolute;
    bottom: 50px;
    right: 60px;
    text-align: right;
}

.carousel-caption h3 {
    font-size: 8vw; /* Adjust the scaling factor to your preference */
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 0.5vw; /* Scale the letter spacing too */
    font-family: "Playfair Display", serif;
}

.carousel-caption h4 {
    font-size: 2vw; /* Adjust the scaling factor to your preference */
    font-weight: bold;
    font-family: var(--font-family-logo);
    color: var(--carousel-caption-color);
}

.carousel-caption p {
    font-size: 1.25vw; /* Adjust the scaling factor to your preference */
    font-family: var(--font-family-body);
}


.parallax-caption {
    transition: transform 0.3s ease-out;
}

/* Animation Styles */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about p, .default-page p {
        margin: 0 40px;
        text-align: left;
        font-size: 30px;
        margin-left: 4rem;
    }

    .about h3, .about h4, .default-page h3, .default-page h4 {
        margin-left: 4rem;
        text-align: left;
    }

    .about h3, .default-page h3 {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .about h4, .default-page h4 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .cursor-dot, .cursor-outline {
        display: none;
    }

    .carousel {
        height: 70vh;
    }

    .carousel-caption-1 {
        top: 50px;
        left: 20px;
    }

    .carousel-caption-2 {
        bottom: 20px;
        right: 20px;
    }

    .carousel-caption h4 {
        font-size: 1.5rem;
        padding-top: 10px;
    }

    .carousel-caption h3 {
        font-size: 3rem;
        padding-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .about p, .default-page p {
        margin: 0 200px 0 200px;
        text-align: left;
        font-size: 50px;
        margin-left: 4rem;
    }

    .about h3, .about h4, .default-page h3, .default-page h4 {
        margin-left: 4rem;
        text-align: left;
    }

    .about h3, .default-page h3 {
        font-size: 5rem;
        margin-top: 1rem;
    }

    .about h4, .default-page h4 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}


.project-previews a {
    font-family: var(--font-family-body);
    display: block;
    text-align: center;
}

.view-rest {
    color: orange;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--font-family-body);
    margin: 0 70px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.footer {
    margin-top: 200px;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid rgba(133, 133, 133, 0.75);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    margin-top: 1rem;
}

.footer-nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-family: var(--font-family-body);
}

.footer-nav a:hover {
    text-decoration: underline;
}

.error-404 {
    font-size: 5rem;
    font-family: var(--font-family-logo);
    color: var(white);
    text-align: center;
    margin-top: 2px;
    cursor:auto;
}

@media (max-width: 768px) {
    .carousel-caption {
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
    }

    .carousel-caption h3 {
        font-size: 15vw; /* Adjust the scaling factor to your preference */
        font-weight: bold;
        margin-left: 20px;
        letter-spacing: 0.5vw; /* Scale the letter spacing too */
        font-family: "Playfair Display", serif;
    }

    .carousel-caption h4 {
        font-size: 8vw; /* Adjust the scaling factor to your preference */
        font-weight: bold;
        font-family: var(--font-family-logo);
        color: var(--carousel-caption-color);
        margin-top: 20px;
    }

    .carousel-caption p {
        font-size: 1.25vw; /* Adjust the scaling factor to your preference */
        font-family: var(--font-family-body);
    }

    .carousel-caption span {
        padding-left: 0;
    }
}

.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.post-content {
    margin: 0 200px;
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--font-family-body);
}
@media (pointer: coarse) and (hover: none) {
    * {
        cursor: none;
    }
}