/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(65, 59, 59, 0.25); /* 25% opacity */
    flex-direction: row-reverse; /* Reverse the order of flex items */
}

.menu-icon {
    cursor: pointer;
    color: #1E1E1E;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Bukhari', sans-serif;
    color: #1E1E1E;
}

@font-face {
    font-family: 'Bukhari';
    src: url('../fonts/Bukhari.ttf') format('truetype');
}