/* Styles for the 404 Page */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.error-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-code {
    font-size: 100px;
    color: #ff4500; /* Vivid Orange-Red */
    margin: 0;
}

.error-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.error-image {
    max-width: 100%;
    height: auto;
}

.back-home-link {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.back-home-link:hover {
    background-color: #ff5722; /* Slightly darker shade of orange-red */
}
