---
layout: page
---
<div id="main">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    
    <!-- Carousel indicators -->
    <div class="carousel-indicators">
      {% assign recent_projects = site.projects | slice: 0, 6  %}
      {% for project in recent_projects %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.index }}"></button>
      {% endfor %}
      </div>
      
    <!-- Carousel items -->
    <div class="carousel-inner">
      {% for project in recent_projects %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ project.image }}" class="d-block w-100 parallax-image" alt="{{ project.description }}">
          
          <!-- Text on the image -->
          <div class="carousel-caption-wrapper">
            <div class="carousel-caption carousel-caption-main parallax-caption">
              <div class="carousel-caption-eyebrow">{{ project.category }}</div>
              <h3>{{ project.title }}</h3>
              <p>{{ project.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <h2 style="margin-left: 50px; margin-top: 30px;">Scroll <i class="fa-solid fa-angle-down"></i></h2>

  <hr width="95%" style="margin-top: 20px; margin-bottom: 50px; border: 1px solid #fff; margin-left: auto; margin-right: auto;">
  {{ content }}
  
</div>

