---
layout: page
---
<div id="main">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    
    <!-- Carousel indicators -->
    <div class="carousel-indicators parallax-caption">
      {% for project in site.data.projects-showcase %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.index }}"></button>
      {% endfor %}
      </div>
      
    <!-- Carousel items -->
    <div class="carousel-inner">
      {% for project in site.data.projects-showcase %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ project.image }}" class="d-block w-100 parallax-image" alt="{{ project.description }}">
          
          <!-- Text on the image -->
          <div class="carousel-caption carousel-caption-1 parallax-caption">
            <h4>{{ project.category }} /</h4>
            <h3>{{ project.title-style }}</h3>
          </div>
          <div class="carousel-caption carousel-caption-2 parallax-caption">
            <p>{{ project.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <h2 style="margin-left: 50px; margin-top: 20px;">Scroll <i class="fa-solid fa-angle-down"></i></h2>

  <hr width="95%" style="margin-top: 20px; margin-bottom: 50px; border: 1px solid #fff; margin-left: auto; margin-right: auto;">
  {{ content }}
  
</div>

